html, body {
    margin: 0;
    padding: 0;
}

body{
    /* center the canvas */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;

    /* dark background */
    background-color: #ebf1ee;
}
canvas {
    display: block;  
}

.has-shadow {
    filter: drop-shadow(0px 0px 40px #c7dcbfee);
    border: solid 2px #ffffff;  
}

#controls {
    display: flex;
    gap: 10px;

    background-color: #ffffff;
    padding: 20px 40px;
}